<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>book notes | Szymon Maciejewski</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/styles/main.css">
  <link rel="alternate" type="application/atom+xml" href="/en.atom">
</head>
<body id="booklist">
  <header id="masthead"><a href="/" title="Szymon Maciejewski"><h1>Szymon Maciejewski</h1></a></header>
  <main>
    <header>
      <h1>Books I’ve read</h1>
      <p>Tiny summary but <strong>detailed notes for each</strong>. Use the ISBN number to find it from your local library or anywhere else. <strong>This page will constantly update as I read more</strong>, so bookmark it if you want to check back in a few months.</p>
    </header>
    <p id=sorters>Sorted with <strong>my top recommendations up top</strong>. Sort by
      <a href="/book?sort=title" id=sort-title>title</a>,
      <a href="/book?sort=date" id=sort-date>newest</a>, or
      <a href="/book?sort=rating" id=sort-rating>best</a>.
    <p>
      And if you have any questions.
      You can also <a href=/contact>email me</a>.
    <hr>

    <section id="allbooks">
      <% for(let book of books){%>
        <div class="book">
          <figure>
            <img src="https://covers.openlibrary.org/b/isbn/<%=book.isbn %>-M.jpg" loading=lazy alt="Book cover">
          </figure>
          <div class="book-content">
            <form class="redirect" action="/edit" method="post">
              <input type="hidden" name="bookId" value="<%= book.id %>">
              <button type="submit">
                <h2><%=book.title %></h2>
              </button>
            </form>
            <small>
              Date read: <%=book.date %>. How strongly I recommend it: 
              <strong><%=book.recomendationratio %></strong>/10
            </small>
            <p><%=book.description %><p>
            <strong>
              <a href="/note">Read my notes</a>
            </strong>, or go to the 
            <a href="https://www.amazon.com/s?k=0470128356&tag=sivers-20">Amazon page</a> for details and reviews.
          </div>
        </div>
      <% } %>
    </section>
  </main>
</body>
</html>
